@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/cobalt.css';
/* @import 'prismjs/themes/prism-dark.css'; */

/* @import 'codemirror/addon/hint/show-hint.css'; */

#editor {
  position: relative;
  max-width: 800px;
  margin: auto;
}

.CodeMirror {
  border: 1px solid #eae9e9;
  max-width: 800px;
  margin: auto;
}
